<ul class="nav nav-tabs">
  <li class="active">
	  <a href="#main" data-toggle="tab">Основное</a>
	</li>

	<li>
	  <a href="#meta" data-toggle="tab">META</a>
	</li>
</ul>
<%= simple_form_for @good_lang, :html => { :class => 'form-horizontal' } do |f| %>
	<div class="tab-content">
		<div class="tab-pane active" id="main">
			<%= f.input :good_id, as: :hidden %>
			<%= f.input :language_id, as: :hidden %>

			<%= f.input :name %>
		  <%= f.input :slug %>
		  <%= f.input :logo %>
		  <%= f.input :price, as: :string %>
		  <%= f.input :description %>
		</div>

		<div class="tab-pane" id="meta">
		  <%= f.input :meta_title %>
		  <%= f.input :meta_keywords %>
		  <%= f.input :meta_description %>
		</div>
	</div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                edit_good_path(@good_lang.good), :class => 'btn' %>
  </div>
<% end %>
