<% good = item.good if item.good %>

<li class="cart-item" data-cart-items="item" data-id="<%= item.id %>">
  <div class="cart-item-remove">
    <%= simple_form_for item, url: cart_remove_path, method: :delete do |f| %>
      <%= f.input :id, as: :hidden %>
      <%= content_tag :button, content_tag(:i, '', class: 'control control-remove'), type: :submit %>
    <% end %>
  </div>

  <div class="cart-item-info">
    <div class="cart-item-pic">
      <%= image_tag(good.thumb.url(:cart)) %>
    </div>

    <div class="cart-item-title">
      <%= good.title %>
    </div>

    <% if good.variants.empty? %>
      <div class="cart-options" data-type="cart-variants">
        <div class="cart-options-price" data-cart-item-price="<%= good.price %>">
          <%= number_to_currency(good.price, precision: 0, unit: 'р.') %>
        </div>

        <div class="title">
          <%= T "Стоимость" %>
        </div>
      </div>
    <% else %>
      <%= (render 'variants', :good => good, :cart_item => item, :variants => good.variants) %>
    <% end %>
    <%= render 'additionals', :item => good.goods.sample unless good.goods.empty? %>
  </div>
</li>