<div class="b-product loaded" data-action="product">
  <div class="shadow"></div>

  <div class="media-dismiss" data-product-dismiss="media">
    <i class="control control-dismiss"></i>
  </div>

  <div class="loading">
    <div class="wrap">
      <div class="loader">
        <%= image_tag "content/product-loader.gif" %>
      </div>
      Please wait
    </div>
  </div>

  <div class="media main-pic">
    <%= image_tag @good.picture %>
  </div>

  <% if @good.three60s %>
    <div class="media three60" data-product-media="360">
      <div class="wrap">
        <ul class="b-thumbs">
          <% @good.three60s.each do |t| %>
            <script type="text/javascript">

            </script>
            <li class="active">
              <%= image_tag t.src.url(:preview) %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="three60-viewer" data-viewer="360"></div>
    </div>
  <% end %>

  <% unless @good.vimeo.empty? %>
    <div class="media video" data-product-media="video">
      <%= @good.vimeo %>
    </div>
  <% end %>

  <% if @good.panorama %>
    <div class="media pan" data-product-media="pan">
      <%= image_tag @good.panorama %>
    </div>
  <% end %>

  <div class="wrap">
    <div class="info">
        <div class="info-block">
          <div class="controls">
            <div class="shadow"></div>

            <div class="price">
              <%= @good.price %>
            </div>

            <div class="b-farrow small">
              <div class="line l"></div>
              <div class="line r"></div>
              <div class="tip"></div>
            </div>

            <div class="buy">
              <div></div>
            </div>
          </div>

          <div class="description" data-product="description">
            <div class="opener" data-product-toggle="description">
              <i class="control control-up"></i>
              <i class="control control-down"></i>
            </div>

            <div class="short">
              <div class="logo">
                <%= image_tag @good.logo %>
              </div>

              <%= @good.announce.html_safe %>

              <div class="b-farrow">
                <div class="line l"></div>
                <div class="line r"></div>
                <div class="tip"></div>
              </div>
            </div>

            <div class="long">
            
              <div class="block">
                <div class="title">Спецификация</div>
                <%= @good.content.html_safe %>
              </div>

              <div class="block">
                <div class="title">
                  Материалы
                </div>

                Мебель производится на ультра современном оборудовании, с использованием только высококачественных и натуральных материалов.
              </div>

              <div class="block">
                <ul class="b-thumbs">
                  <% @good.material.each do |m| %>
                    <li>
                      <%= m.title %>
                      <%= image_tag m.picture.url(:thumb) %>
                    </li>
                  <% end %>
                </ul>
              </div>

              <div class="block">
                <div class="title">Дополнительно</div>
                <%= @good.additional.html_safe %>
              </div>

            </div>
          <div>
        </div>
      </div>
    </div>

    <div class="info-block">

      <ul class="features">
        <% unless @good.vimeo.empty? %>
          <li data-product-media="video">
            <i class="product-icon icon-video"></i>
            Видео
          </li>
        <% end %>

        <% if @good.three60s %>
          <li data-product-media="360">
            <i class="product-icon icon-360"></i>
            360 просмотр
          </li>
        <% end %>

        <% if @good.panorama %>
          <li data-product-media="pan">
            <i class="product-icon icon-pan"></i>
            Панорама
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</div>