<% good = item.good if item.good %>

<li class="cart-item" data-cart-items="item" data-id="<%= item.id %>">
  <div class="cart-item-remove">
    <%= simple_form_for item, url: cart_remove_path, method: :delete do |f| %>
      <%= f.input :id, as: :hidden %>
      <%= content_tag :button, content_tag(:i, '', class: 'control control-remove'), type: :submit %>
    <% end %>
  </div>

  <div class="cart-item-info">
    <div class="cart-item-pic">
      <%= image_tag(good.thumb.url(:cart), data: { 'cart-item' => "picture"}) %>
    </div>

    <div class="cart-item-title">
      <div class="pull-right cart-item-price" data-cart-item="price"<%= (' data-cart-item-price=' + good.price) if good.variants.empty? %>>
        <%= number_to_currency(good.price, precision: 0, unit: 'р.') if good.variants.empty? %>
      </div>
      <%= good.title %>
    </div>

    <% unless good.variants.empty? %>
      <%= (render 'variants', :good => good, :cart_item => item, :variants => good.variants) %>
    <% end %>
    <%= render 'additionals', :item => good.goods.sample unless good.goods.empty? %>
  </div>
</li>