<%= language_prompt %>

<%= simple_form_for @menu_item, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :page, collection: Page.with_translations('ru'), prompt: 'Выберите страницу' %>
  <%= f.input :name %>

  <% Globalize.with_locale(@locale.slug) do %>    
    <%= f.input :title %>
  <% end %>

  <%= f.input :url %>

  <%= language_input f %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                menu_items_path, :class => 'btn' %>
  </div>
<% end %>
