<div class="container cart" data-type="order">
<h1>
  <%= T "Заказ" %>
</h1>

<% if !@current_page.nil? and !@current_page.content.empty? %>
    <div class="content">
      <%= @current_page.content.html_safe %>
    </div>
<% end %>

<%= simple_form_for @cart, url: order_finish_path, method: :patch, html: {novalidate: false} do |form| %>
    <%= simple_fields_for 'cart', @cart do |f| %>

        <%= f.simple_fields_for 'client', @cart do |c| %>
            <div class="form-block">
              <div class="row">
                <div class="span2">
                  <div class="form-row">
                    <label for="name">
                      <%= T "Имя" %><sup>*</sup>:
                    </label>

                    <div class="input-wrap">
                      <%= c.input_field :first_name, placeholder: "Введите Ваше имя", required: true, class: ('invalid' if form.object.errors['client.first_name'].present?) %>
                    </div>
                  </div>
                </div>

                <div class="span2">
                  <div class="form-row">
                    <label for="surname">
                      <%= T "Фамилия" %><sup>*</sup>:
                    </label>

                    <div class="input-wrap">
                      <%= c.input_field :last_name, placeholder: T("Введите Вашу фамилию"), required: true, class: ('invalid' if form.object.errors['client.last_name'].present?) %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="span2">
                  <div class="form-row">
                    <label for="email">
                      <%= T "Email" %><sup>*</sup>:
                    </label>

                    <div class="input-wrap">
                      <%= c.input_field :email, type: :email, placeholder: T("Введите Ваш Email"), required: true, 'aria-required' => true, class: ('invalid' if form.object.errors['client.email'].present?) %>
                    </div>
                  </div>
                </div>

                <div class="span2">
                  <div class="form-row">
                    <label for="phone">
                      <%= T("Телефон:") %>
                    </label>

                    <div class="input-wrap">
                      <%= c.input_field :phone, placeholder: T("Введите Ваш телефон") %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>

        <div class="form-block">
          <h2>Доставка</h2>

          <div class="row">
            <div class="span2">

              <ul class="radio-group">
                <li class="text">
                  Способ доставки:
                </li>

                <li>
                  <% DeliveryType.active.each do |delivery_type| %>
                      <label>
                        <input type="radio" name="cart[delivery_type]" value="<%= delivery_type.id %>" data-delivery-type required /> <%= delivery_type.name %><% if delivery_type.conditions.present? %> <sup data-order="popover">?</sup><% end %>
                      </label>
                  <% end %>
                </li>
              </ul>
              <% if form.object.errors['delivery_type'].present? %>
                  <p class="error">
                    <%= form.object.errors['delivery_type'][0] %>
                  </p>
              <% end %>
            </div>
          </div>
        </div>

        <div data-layout="address"></div>

        <div data-layout="payment"></div>

        <script type="text/html" data-view="address">
          <div class="form-block">
            <h2>Адрес доставки</h2>

            <div class="row">
              <div class="span2">
                <div class="form-row">
                  <div class="select-wrap">
                    <%= f.select :country, Country.all %>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="span2">
                <div class="form-row">
                  <label for="city">
                    Город<sup>*</sup>:
                  </label>

                  <div class="input-wrap">
                    <%= f.input_field :city, placeholder: "Введите Ваш город", required: true, class: ('invalid' if form.object.errors['city'].present?) %>
                  </div>
                </div>
              </div>

              <div class="span2">
                <div class="form-row">
                  <label for="region">
                    Регион / Область<sup>*</sup>:
                  </label>

                  <div class="input-wrap">
                    <%= f.input_field :region, placeholder: "Введите Ваш регион/область", required: true, class: ('invalid' if form.object.errors['region'].present?) %>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="span2">
                <div class="form-row">
                  <label for="address">
                    Адрес<sup>*</sup>:
                  </label>

                  <div class="input-wrap">
                    <%= f.input_field :address, placeholder: "Введите Ваш адрес", required: true, class: ('invalid' if form.object.errors['address'].present?) %>
                  </div>
                </div>
              </div>

              <div class="span2">
                <div class="form-row">
                  <label for="zip">
                    Индекс<sup>*</sup>:
                  </label>

                  <div class="input-wrap">
                    <%= f.input_field :zip, placeholder: "Введите Ваш индекс", required: true, class: ('invalid' if form.object.errors['zip'].present?) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </script>

        <script type="text/html" data-view="payment">
          <div class="form-block">
            <h2>Оплата</h2>

            <div class="row">
              <div class="span2">
                <ul class="radio-group">
                  <li class="text">
                    Способ оплаты:
                  </li>

                  <li>
                    <% PaymentType.active.each do |payment_type| %>
                        <label data-payment-type="<%= payment_type.id %>">
                          <input type="radio" name="cart[payment_type]" value="<%= payment_type.id %>" required /> <%= payment_type.name %>
                        </label>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </script>

        <ul class="cart-items">
          <li class="cart-total">
            <span class="upper"><%= T "Итого" %>:</span>
            <span data-order="total"></span>
          </li>
        </ul>

        <div class="form-block">
          <div class="row">
            <div class="pull-left">
              <a href="<%= cart_path %>" class="btn btn-width2">
                <%= T "Назад" %>
              </a>
            </div>

            <div class="pull-right">
              <button class="btn btn-width2">
                <%= T "Оформить" %>
              </button>
            </div>
          </div>
        </div>
    <% end %>
<% end %>
</div>

<script type="text/javascript">
    var order_options = <%= raw @cart.options.to_json %>
</script>