<div class="page-header">
  <div class="pull-right">
    <%= link_to (plus_icon + ' Категория'),
            new_good_category_path,
            :class => 'btn' %>
    <%= link_to (plus_icon + ' Товар'),
            new_good_path,
            :class => 'btn' %>
  </div>
  <h1>Каталог товаров</h1>
</div>

<div class="row">
  <div class="span9">
    <% if @items.empty? %>  
      <div class="well">
        Опаньки.. А товаров-то и нету :(
      </div>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Товар</th>
            <th width="23%">Категории</th>
            <th width="23%">Дизайнеры</th>
            <th width="60px">Цена</th>
            <th width="60px"></th>
          </tr>
        </thead>
        <tbody>        
          <% @items.each do |good| %>
            <tr>
              <td>
                <%= with_pic good, good.picture %>
              </td>
              <td>
                <%= link_list(good.good_category) %>
              </td>
              <td>
                <%= link_list(good.designer) %>
              </td>
              <td><%= good.price %></td>
              <td>
                <%= link_to pencil_icon,
                    edit_good_path(good), :class => 'btn btn-mini' %>

                <%= link_to trash_icon(true),
                    good_path(good),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="span3">
    <ul class="nav nav-tabs nav-stacked">
      <li<%= ' class=active' if !@collection %>>
        <%= link_to('Все товары', good_categories_path) %>
      </li>
      <% @collections.each do |collection| %>
        <li<%= ' class=active' if @collection && @collection == collection %>>
          <div class="controls">
            <%= link_to(pencil_icon,
                edit_good_category_path(collection), :class => 'btn btn-link') %>

            <%= link_to(trash_icon,
                good_category_path(collection),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-link') %>
          </div>
          
            <%= link_to (collection.name + tag(:br) + content_tag(:small, collection.path, class: :muted)).html_safe,   
                items_good_category_path(collection) %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>