<h1>Страны</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th width="100px"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_countries.each do |admin_country| %>
      <tr>
        <td>
            <%= admin_country.name %>, <%= admin_country.code %>
        </td>
        <td>
          <div class="pull-right">
            <%= link_to 'Edit', edit_admin_country_path(admin_country), class: 'btn btn-mini' %>
            <%= link_to 'Destroy', admin_country, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to 'Новая страна', new_admin_country_path, class: 'btn' %>
</div>

