<div class="container">
	<div class="designer">
		<h1>
			<%= @designer[:title] %>
		</h1>

		<h2>
			<%= @designer[:motto] %>
		</h2>

		<div class="designer-info">
			<% if @designer[:pic] %>
				<div class="designer-pic">
					<img src="<%= image_url(@designer[:pic]) %>" />
				</div>
			<% end %>

			<%= @designer[:desc].html_safe %>
		</div>
		
		<%= render 'content/designer/projects', :projects => @designer[:projects] if @designer[:projects] %>
	</div>
</div>