<div class="b-product loaded show-pan" data-action="product">
  <div class="shadow"></div>

  <div class="loading">
    <div class="wrap">
      <div class="loader">
        <%= image_tag "content/product-loader.gif" %>
      </div>
      Please wait
    </div>
  </div>

  <div class="media main-pic">
    <%= image_tag "content/product/huge/1.jpg" %>
  </div>

  <div class="media three60">
    <div class="wrap">
      <ul class="b-thumbs">
        <li class="active">
          <%= image_tag "content/product/360/thumbs/1.jpg" %>
        </li>

        <li>
          <%= image_tag "content/product/360/thumbs/2.jpg" %>
        </li>
      </ul>
    </div>

    <%= image_tag "content/product/360/1.jpg" %>
  </div>

  <div class="media video">
    <iframe src="//player.vimeo.com/video/74333429?portrait=0&amp;badge=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <div class="media pan">
    <%= image_tag "content/product/huge/1.jpg" %>
  </div>

  <div class="wrap">
    <div class="info">
        <div class="info-block">
          <div class="controls">
            <div class="shadow"></div>

            <div class="price">
              $120
            </div>

            <div class="b-farrow small">
              <div class="line l"></div>
              <div class="line r"></div>
              <div class="tip"></div>
            </div>

            <div class="buy">
              <div></div>
            </div>
          </div>

          <div class="description">
            <div class="opener" data-product="toggle">
              <i class="control control-up"></i>
              <i class="control control-down"></i>
            </div>

            <div class="short">
              <div class="logo">
                <%= image_tag "content/logo/1.png" %>
              </div>

              Starwire - удлинитель / разветвитель. Если вам надоели скучные, низкокачественные и безликие разветвители, «Starwire», поможет избавится от стереотипов.

              <div class="b-farrow">
                <div class="line l"></div>
                <div class="line r"></div>
                <div class="tip"></div>
              </div>
            </div>

            <div class="long">
            
              <div class="block">
                <div class="title">Спецификация</div>

                Starwire - Если вам надоели скучные, низкокачественные и безликие разветвители, «Starwire», поможет избавится от стереотипов и добавит в ваш интерьер очень функциональный и современный предмет!
              </div>

              <div class="block">
                <div class="title">
                  <a href="#">Как мы сделали Stairwire</a>
                </div>
              </div>

              <div class="block">
                <div class="title">
                  Материалы
                </div>

                Мебель производится на ультра современном оборудовании, с использованием только высококачественных и натуральных материалов.
              </div>

              <div class="block">
                <ul class="b-thumbs">
                  <li>
                    Wood
                    <%= image_tag "content/materials/wood.jpg" %>
                  </li>

                  <li>
                    Plastic
                    <%= image_tag "content/materials/plastic.jpg" %>
                  </li>

                  <li>
                    Metal
                    <%= image_tag "content/materials/metal.jpg" %>
                  </li>
                </ul>
              </div>

            </div>
          <div>
        </div>
      </div>
    </div>

    <div class="info-block">

      <ul class="features">
        <li>
          <i class="product-icon icon-video"></i>
          Видео
        </li>

        <li>
          <i class="product-icon icon-360"></i>
          360 просмотр
        </li>

        <li>
          <i class="product-icon icon-pan"></i>
          Панорама
        </li>

      </ul>
    </div>
  </div>
</div>