<%= language_prompt %>

<%= simple_form_for @good, :html => { :class => 'form-horizontal' } do |f| %>
  <%= form_errors f %>

  <%= tabs [[:main, 'Основное'], [:logo, 'Лого'], [:picture, 'Изображение'], [:meta, 'META']] %>

  <%= tab_contents do %>
    <%= tab_pane :main, {active: true} do %>
      <%= f.input :name %>
      <%= f.input :slug %>

      <% Globalize.with_locale(@locale.slug) do %>
        <%= f.input :price %>
      <% end %>

      <%= f.association :good_category %>
    <% end %>

    <%= tab_pane :logo do %>
      <%= image_field @good, 'logo', f, [300, 300] %>
    <% end %>

    <%= tab_pane :picture do %>
      <%= image_field @good, 'picture', f, [300, 300] %>
    <% end %>

    <%= tab_pane :meta do %>
      <% Globalize.with_locale(@locale.slug) do %>
        <%= f.input :title %>
        <%= f.input :heading %>
        <%= f.input :keywords %>
        <%= f.input :description %>
      <% end %>
    <% end %>
  <% end %>

  <%= language_input f %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                good_categories_path, :class => 'btn' %>
  </div>
<% end %>
