<%= language_prompt %>

<%= simple_form_for @good, :html => { :class => 'form-horizontal' } do |f| %>
  <%= form_errors f %>

  <%= tabs [[:main, 'Основное'], [:logo, 'Лого'], [:picture, 'Изображение'], [:tech, 'Характеристики'], [:descriptions, 'Описания'], [:meta, 'META']] %>

  <%= tab_contents do %>
    <%= tab_pane :main, {active: true} do %>
      <%= f.input :name %>

      <%= f.input :slug if @good.id? %>

      <% Globalize.with_locale(@locale.slug) do %>
        <%= f.input :price %>
      <% end %>

      <%= f.association :good_category %>
      <%= f.association :designer %>
      <%= f.association :material %>
    <% end %>

    <%= tab_pane :logo do %>
      <%= image_field @good, 'logo', f, [300, 300], transparent: true %>
    <% end %>

    <%= tab_pane :picture do %>
      <%= image_field @good, 'picture', f, [300, 300] %>
    <% end %>

    <%= tab_pane :meta do %>
      <% Globalize.with_locale(@locale.slug) do %>
        <%= f.input :title %>
        <%= f.input :heading %>
        <%= f.input :keywords %>
        <%= f.input :description %>
      <% end %>
    <% end %>

    <%= tab_pane :tech do %>
      <%= f.input :width %>
      <%= f.input :height %>
      <%= f.input :depth %>
      <%= f.input :box_width %>
      <%= f.input :box_height %>
      <%= f.input :box_depth %>

      <%= f.input :is_electrical %>
    <% end %>

    <%= tab_pane :descriptions do %>
      <% Globalize.with_locale(@locale.slug) do %>
        <%= f.input :announce %>
        <%= f.input :content %>
        <%= f.input :additional %>
      <% end %>
    <% end %>
  <% end %>

  <%= language_input f %>

  <div class="form-actions">
    <%= f.button :submit, save_or_update(@good), :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                good_categories_path, :class => 'btn' %>
  </div>
<% end %>
