<%= simple_form_for @good, :html => { :class => 'form-horizontal' } do |f| %>
	
<% if @good.id %>
  <ul class="nav nav-tabs">
	  <li class="active">
      <a href="#main" data-toggle="tab">Основное</a>
    </li>

    <% @good.langs.each do |gl| %>
      <li>
        <%= link_to gl.language.name, edit_good_lang_path(gl) %>
      </li>
    <% end %>

    <% if !@good.unused_langs.empty? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Добавить язык <b class="caret"></b></a>
        <ul class="dropdown-menu">
        	<% @good.unused_langs.each do |l| %>
  	        <li><%= link_to l.name, new_good_good_lang_path(@good, lang_id: l.id) %></li>
  	      <% end %>
        </ul>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="main">
<% end %>    

    	<%= f.input :name %>

<% if @good.id %>
    </div>
  </div>
<% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                goods_path, :class => 'btn' %>
  </div>
<% end %>
