<div class="page-header">
  <div class="pull-right">
    <%= link_to plus_icon + ' Добавить',
        new_templet_path,
        :class => 'btn' %>
  </div>

  <h1>Шаблоны</h1>
</div>

<% if @templets.empty? %>
  <div class="well">
    Опаньки.. А шаблонов-то и нету :(
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Шаблон</th>
        <th width="60px"></th>
      </tr>
    </thead>
    <tbody>
      <% @templets.each do |templet| %>
        <tr>
          <td>
            <%= templet.name %>
            <%= content_tag :div, content_tag(:small, 'rails ' + templet.src, class: 'muted') %>
          </td>
          <td>
            <%= link_to pencil_icon,
                        edit_templet_path(templet), :class => 'btn btn-mini' %>
            <%= link_to trash_icon(true),
                        templet_path(templet),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>