<div class="control-group">
  <label class="control-label">
    Фотография
  </label>

  <div class="controls">
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <div class="fileupload-preview thumbnail" style="width: <%= defined?(size[0]) ? size[0].to_s + 'px' : '200px' %>; height: <%= defined?(size[1]) ? size[1].to_s + 'px' : '100px' %>">
        <%= image_tag image.url(:preview) %>
      </div>

      <div>
        <span class="btn btn-file"><span class="fileupload-new"><%= t('helpers.files.select') %></span><span class="fileupload-exists"><%= t('helpers.files.change') %></span><%= field %></span>
        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload"><%= t('helpers.files.remove') %></a>
      </div>
    </div>
    
  </div>
</div>