<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="line-height:1.5">
    <h1>
      <%= T("Здавствуйте, ") %><%= @order.full_name %>!
    </h1>
    <p>
      <%= T("Вы оставили предзаказ на сайте") %> <a href="http://www.lllooch.ru">www.lllooch.ru</a>
    </p>
    <p>
      <h4><%= T("Вы заказали") %></h4>
      <ol style="padding:0; margin:0">
        <% @order.items.each do |i| %>
          <li>
            <%= link_to i.good.title, goods_item_path({locale: @order.language.slug, slug: i.good.slug}) %>, <%= i.price %>
          </li>
        <% end %>
      </ol>

    </p>

    <p>
      <%= T "На сумму: " %><%= number_to_currency(@order.full_price, precision: 0, unit: 'р.') %>
    </p>
  </body>
</html>
